.tableContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tableWrapper {
  width: 800px;
}
.tableHeader {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
table {
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
}

th,
td {
  text-align: left;
  padding: 10px;
  border: 0.5px solid lightgray;
}

.tableName {
  text-transform: capitalize;
}
.tableButton {
  width: 80px;
  height: 20px;
  border-radius: 5px;
  border: none;
  background-color: #ac0e28;
  color: white;
  text-align: center;
  padding: 2px;
}

.tableButton:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media (max-width: 480px) {
  .tableWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
  }
  table {
    width: max-content;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    margin-bottom: 0;
  }
  th,
  td {
    white-space: nowrap;
  }
  .tableId {
    display: none;
  }
}
